<html>
<body>

  <div class="tFullPage">


    <br>

    <!-- -----------------------------       Teacher Main Navigation Element ---------------------------------- -->

    <div class="tMainNavContainer group section">

      <div class="tMainNavBorder group ">

        <ul class="tMainNavLinks">

          <li> <a routerLink="/teacher-home" routerLinkActive="active">Home</a></li>
          <li> <a routerLink="/teacher-class-home" routerLinkActive="active">Classes</a></li>
          <li> <a routerLink="/teacher-manage-assignment" routerLinkActive="active">Assignments</a></li>
          <li> <a routerLink="/shop" routerLinkActive="active">Activities</a></li>
          <li> <a routerLink="/teacher-toolbox" routerLinkActive="active">Toolbox</a></li>
          <li> <a routerLink="/teacher-manage-student" routerLinkActive="active">Administration</a></li>
          <li> <a href="Teacher.Home.html">Help</a></li>
          <li> <a>Coming Soon</a></li>

        </ul>

      </div>

    </div>

    <!-- ----------------------------       Teacher Screen Title Banner      ---------------------------------- -->

    <div class="tScreenTitleContainer group section">

                  <p>Content Management Panel</p>

    </div>

    <!-- ----------------------------       Teacher Local Navigation Element ---------------------------------- -->

    <div class=" group section">

      <div class="tLocalNavBorder group ">

        <ul class="tLocalNavLinks group">

                      <li> <a href="Teacher.ClassAdd.html">Update</a></li>
                      <li> <a href="Teacher.ClassAdd.html">New</a></li>


        </ul>

      </div>

    </div>

    <!-- ----------------------------       Teacher Main Content Element     ---------------------------------- -->

    <div class="tMainContainer group section">

      <div class="tMainBorder group section"></div>

        <div class="tMainCol1">

                      <p>Content Name:</p>
                      <p>Content ID:</p>
                      <p>Grade</p>
                      <p>Subject</p>
          <p>Subject Category 2</p>
          <p>Subject Category 3</p>
          <p>Subject Category 4</p>
          <p>Subject Category 5</p>
                      <p>Topic</p>
                      <p>Topic Category 2</p>
          <p>Topic Category 3</p>
          <p>Topic Category 4</p>
          <p>Topic Category 5</p>

        </div> <!-- tMainCol1 -->

        <div class="tMainCol2">

          <form [formGroup]="">

                          <input type="text" name="sContentName" value="Aprendiz De Codigo 1">
                          <input type="text" name="sAssignmentName" value="Technology.1774" disabled="">
            <input type="text" name="sSubject" value="3">

            <select name="sSubjectCategory1">
              <option>Technology</option>
              <option>Science</option>
              <option>Engineering</option>
              <option>Math</option>
            </select>

            <select name="sSubjectCategory2">
              <option>Algorighms</option>
              <option>Coding</option>
              <option>Design</option>
              <option>Testing</option>
            </select>

            <select name="sSubjectCategory3">
              <option>Intro Level</option>
              <option>Intermediate</option>
              <option>Advanced</option>
            </select>

            <select name="sSubjectCategory4">
              <option></option>
              <option></option>
              <option></option>
            </select>

            <select name="sSubjectCategory5">
              <option></option>
              <option></option>
              <option></option>
            </select>

            <select name="sTopicCategory1">
              <option>Gaming</option>
              <option>Printable</option>
            </select>

            <select name="sTopicCategory2">
              <option>Assignment</option>
              <option>Test</option>
            </select>

            <select name="sTopicCategory3">
              <option></option>
              <option></option>
            </select>

            <select name="sTopicCategory4">
              <option></option>
              <option></option>
            </select>

            <select name="sTopicCategory5">
              <option></option>
              <option></option>
            </select>

          </form>

        </div>

        <div class="tMainCol3">


                      <p>Status:</p>
          <p>Contributor:</p>
          <p>Description:</p>

                      <ul class="bContentButton1  tLocalNavLinks group">

                          <li> <a href="Teacher.ClassAdd.html">Select File</a></li>

                      </ul>

                      <ul class="bContentButton2 tLocalNavLinks group">

                          <li> <a href="http://67.205.160.44/shop/12">Preview</a></li>

                      </ul>


        </div> <!-- tMainCol3 -->

        <div class="tMainCol4">

          <form [formGroup]="">


            <input type="text" name="sStatus" value="Pending Review" disabled="">
            <input type="text" name="sContributor" value="VGuerola@hotmail.com" disabled="">
            <input type="text" name="sDescription" value="Algorithm Learning Game" disabled="">

                          <div class="tallInputBox">
                              <!-- <input type="text" name="sContentName" value="Addition with 7s" disabled> -->
                              <p>ApprendizDeCodigo1.html</p>
                          </div>

                          <div class="tallPreviewBox">

                              <img src="assets/Assignment2.png">

                          </div>


          </form>

        </div> <!-- tMainCol4 -->

      </div> <!-- /tMainBorder -->


              <!-- ----------------------------       Student Table Elements - Empty    ---------------------------------- -->

    </div><!-- /tMainContainer -->


   <!-- /tFullPage -->

  <br>
  <br>

  <footer>
    <p>2020 - Nazca Academy  ©</p>
  </footer>


</body></html>
