<carousel>
  <slide>
    <img src="assets/images/hero1.jpg" alt="first slide" style="display: block; width: 100%;">
  </slide>

  <slide>
    <img src="assets/images/hero2.jpg" alt="first slide" style="display: block; width: 100%;">
  </slide>

  <slide>
    <img src="assets/images/hero3.jpg" alt="first slide" style="display: block; width: 100%;">
  </slide>
</carousel>
<section class="featured">
  <div class="d-flex justify-content-center pt-4">
    <h1>Welcome to the Shop!</h1>
  </div>
</section>

<div _ngcontent-c1="" class="main ng-star-inserted">
  <section _ngcontent-c1="" class="presentation-wrapper" style="background-color:#fafafa">
    <div _ngcontent-c1="" class="container">
      <div _ngcontent-c1="" class="row margin-bottom-80 text-center">
        <div _ngcontent-c1="" class="col-md-12">
          <h2 _ngcontent-c1="" class="title color-primary">El Aprendizaje sobrepasa muros</h2>
        </div>
      </div>
      <div _ngcontent-c1="" class="row">
        <div _ngcontent-c1="" class="col-md-12 text-center">
          <span _ngcontent-c1="" class="text-featured">
            Con miles de actividades de aprendizaje diseñadas por los maestros que se sincronizan con el año escolar, damos el poder a los padres y maestros para que las necesidades y el potencial de cada niño puedan ser el centro.
          </span>
        </div>
      </div>
    </div>
  </section>
  <section _ngcontent-c1="" class="presentation-wrapper" style="background-color:#fafafa">
    <div _ngcontent-c1="" class="container">
      <div _ngcontent-c1="" class="row margin-bottom-80 text-center">
        <div _ngcontent-c1="" class="col-md-12">
          <h2 _ngcontent-c1="" class="title color-primary">
            De al potencial ilimitado de los niños Acceso ilimitado.
          </h2>
        </div>
      </div>
      <div _ngcontent-c1="" class="row">
        <div _ngcontent-c1="" class="col-md-12">
          <div _ngcontent-c1="" class="text-center">
            <span _ngcontent-c1="" class="text-featured">
              Desbloquee características especiales y acceda a todo lo que Nazca Academy tiene para ofrecer con membresía Premium.
            </span>
          </div>
        </div>
      </div>
      <br _ngcontent-c1="">
      <br _ngcontent-c1="">
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <button class="btn btn-default btn-block">EMPEZAR</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
