<div class="container mt-5">

  <div class="embed-responsive embed-responsive-16by9" *ngIf="product.pictureUrl.includes('codelearner1thumbnail')">
    <!--<div class="col-6" >
      <img src="{{product.pictureUrl}}" alt="{{product.name}}" class="img-fluid w-100"> -->
      <iframe class="embed-responsive-item" _ngcontent-c4="" allowfullscreen="" frameborder="0" height="100%" id="content-frame" mozallowfullscreen="" webkitallowfullscreen="" width="100%" src="https://nazcastorage.blob.core.windows.net/blob/games/games/CodeLearner_Scene1_S/index.html">
      </iframe>
  </div>

  <div class="embed-responsive embed-responsive-16by9" *ngIf="product.pictureUrl.includes('codelearner2thumbnail')">
    <!--<div class="col-6" >
      <img src="{{product.pictureUrl}}" alt="{{product.name}}" class="img-fluid w-100"> -->
      <iframe class="embed-responsive-item" _ngcontent-c4="" allowfullscreen="" frameborder="0" height="100%" id="content-frame" mozallowfullscreen="" webkitallowfullscreen="" width="100%" src="https://nazcastorage.blob.core.windows.net/blob/games/games/CodeLearner_Scene2_S/index.html">
      </iframe>
  </div>

  <div class="embed-responsive embed-responsive-16by9" *ngIf="product.pictureUrl.includes('codelearner3thumbnail')">
    <!--<div class="col-6" >
      <img src="{{product.pictureUrl}}" alt="{{product.name}}" class="img-fluid w-100"> -->
      <iframe class="embed-responsive-item" _ngcontent-c4="" allowfullscreen="" frameborder="0" height="100%" id="content-frame" mozallowfullscreen="" webkitallowfullscreen="" width="100%" src="https://nazcastorage.blob.core.windows.net/blob/games/games/CodeLearner_Scene3_S/index.html">
      </iframe>
  </div>

  <div class="embed-responsive embed-responsive-16by9" *ngIf="product.pictureUrl.includes('codelearner4thumbnail')">
    <!--<div class="col-6" >
      <img src="{{product.pictureUrl}}" alt="{{product.name}}" class="img-fluid w-100"> -->
      <iframe class="embed-responsive-item" _ngcontent-c4="" allowfullscreen="" frameborder="0" height="100%" id="content-frame" mozallowfullscreen="" webkitallowfullscreen="" width="100%" src="https://nazcastorage.blob.core.windows.net/blob/games/games/CodeLearner_Scene4_S/CodeLearner_Scene4_S/index.html">
      </iframe>
  </div>

  <div class="embed-responsive embed-responsive-16by9" *ngIf="product.pictureUrl.includes('codelearner5thumbnail')">
    <!--<div class="col-6" >
      <img src="{{product.pictureUrl}}" alt="{{product.name}}" class="img-fluid w-100"> -->
      <iframe class="embed-responsive-item" _ngcontent-c4="" allowfullscreen="" frameborder="0" height="100%" id="content-frame" mozallowfullscreen="" webkitallowfullscreen="" width="100%" src="https://nazcastorage.blob.core.windows.net/blob/games/games/CodeLearner_Scene5_S/CodeLearner_Scene5_S/index.html">
      </iframe>
  </div>

  <div class="embed-responsive embed-responsive-16by9" *ngIf="product.pictureUrl.includes('deletrandoranimalesthumbnail')">
    <!--<div class="col-6" >
      <img src="{{product.pictureUrl}}" alt="{{product.name}}" class="img-fluid w-100"> -->
      <iframe class="embed-responsive-item" _ngcontent-c4="" allowfullscreen="" frameborder="0" height="100%" id="content-frame" mozallowfullscreen="" webkitallowfullscreen="" width="100%" src="https://nazcastorage.blob.core.windows.net/blob/games/games/BlockAnimals/index.html">
      </iframe>
  </div>

  <div class="embed-responsive embed-responsive-16by9" *ngIf="product.pictureUrl.includes('CodeLearnerEnglishThumbnail1')">
    <!--<div class="col-6" >
      <img src="{{product.pictureUrl}}" alt="{{product.name}}" class="img-fluid w-100"> -->
      <iframe class="embed-responsive-item" _ngcontent-c4="" allowfullscreen="" frameborder="0" height="100%" id="content-frame" mozallowfullscreen="" webkitallowfullscreen="" width="100%" src="https://nazcastorage.blob.core.windows.net/blob/games/games/CodeLearner_Scene1/index.html">
      </iframe>
  </div>

  <div class="embed-responsive embed-responsive-16by9" *ngIf="product.pictureUrl.includes('CodeLearnerEnglishThumbnail2')">
    <!--<div class="col-6" >
      <img src="{{product.pictureUrl}}" alt="{{product.name}}" class="img-fluid w-100"> -->
      <iframe class="embed-responsive-item" _ngcontent-c4="" allowfullscreen="" frameborder="0" height="100%" id="content-frame" mozallowfullscreen="" webkitallowfullscreen="" width="100%" src="https://nazcastorage.blob.core.windows.net/blob/games/games/CodeLearner_Scene2/index.html">
      </iframe>
  </div>

  <div class="embed-responsive embed-responsive-16by9" *ngIf="product.pictureUrl.includes('CodeLearnerEnglishThumbnail3')">
    <!--<div class="col-6" >
      <img src="{{product.pictureUrl}}" alt="{{product.name}}" class="img-fluid w-100"> -->
      <iframe class="embed-responsive-item" _ngcontent-c4="" allowfullscreen="" frameborder="0" height="100%" id="content-frame" mozallowfullscreen="" webkitallowfullscreen="" width="100%" src="https://nazcastorage.blob.core.windows.net/blob/games/games/CodeLearner_Scene3/index.html">
      </iframe>
  </div>

  <div class="embed-responsive embed-responsive-16by9" *ngIf="product.pictureUrl.includes('CodeLearnerEnglishThumbnail4')">
    <!--<div class="col-6" >
      <img src="{{product.pictureUrl}}" alt="{{product.name}}" class="img-fluid w-100"> -->
      <iframe class="embed-responsive-item" _ngcontent-c4="" allowfullscreen="" frameborder="0" height="100%" id="content-frame" mozallowfullscreen="" webkitallowfullscreen="" width="100%" src="https://nazcastorage.blob.core.windows.net/blob/games/games/CodeLearner_Scene4/index.html">
      </iframe>
  </div>

  <div class="embed-responsive embed-responsive-16by9" *ngIf="product.pictureUrl.includes('CodeLearnerEnglishThumbnail5')">
    <!--<div class="col-6" >
      <img src="{{product.pictureUrl}}" alt="{{product.name}}" class="img-fluid w-100"> -->
      <iframe class="embed-responsive-item" _ngcontent-c4="" allowfullscreen="" frameborder="0" height="100%" id="content-frame" mozallowfullscreen="" webkitallowfullscreen="" width="100%" src="https://nazcastorage.blob.core.windows.net/blob/games/games/CodeLearner_Scene5/index.html">
      </iframe>
  </div>

  <div class="embed-responsive embed-responsive-16by9" *ngIf="product.pictureUrl.includes('gridstylepdfcontentthumbnail')">
    <!--<div class="col-6" >
      <img src="{{product.pictureUrl}}" alt="{{product.name}}" class="img-fluid w-100"> -->
      <iframe class="embed-responsive-item" _ngcontent-c4="" allowfullscreen="" frameborder="0" height="100%" id="content-frame" mozallowfullscreen="" webkitallowfullscreen="" width="100%" src="https://nazcastorage.blob.core.windows.net/blob/games/printables/PrintableContent1.pdf">
      </iframe>
  </div>

  <div class="embed-responsive embed-responsive-16by9" *ngIf="product.pictureUrl.includes('wormpdfPrintableContent2')">
    <!--<div class="col-6" >
      <img src="{{product.pictureUrl}}" alt="{{product.name}}" class="img-fluid w-100"> -->
      <iframe class="embed-responsive-item" _ngcontent-c4="" allowfullscreen="" frameborder="0" height="100%" id="content-frame" mozallowfullscreen="" webkitallowfullscreen="" width="100%" src="https://nazcastorage.blob.core.windows.net/blob/games/printables/PrintableContent2.pdf">
      </iframe>
  </div>

  <div class="embed-responsive embed-responsive-16by9" *ngIf="product.pictureUrl.includes('mathgenius_4operators_thumbnail')">
    <!--<div class="col-6" >
      <img src="{{product.pictureUrl}}" alt="{{product.name}}" class="img-fluid w-100"> -->
      <iframe class="embed-responsive-item" _ngcontent-c4="" allowfullscreen="" frameborder="0" height="100%" id="content-frame" mozallowfullscreen="" webkitallowfullscreen="" width="100%" src="https://nazcastorage.blob.core.windows.net/blob/games/games/MathGenius/demo/index.html">
      </iframe>
  </div>

  <div class="embed-responsive embed-responsive-16by9" *ngIf="product.pictureUrl.includes('logiclightsthumbnail')">
    <!--<div class="col-6" >
      <img src="{{product.pictureUrl}}" alt="{{product.name}}" class="img-fluid w-100"> -->
      <iframe class="embed-responsive-item" _ngcontent-c4="" allowfullscreen="" frameborder="0" height="100%" id="content-frame" mozallowfullscreen="" webkitallowfullscreen="" width="100%" src="https://nazcastorage.blob.core.windows.net/blob/games/games/Logic_Lights/index.html">
      </iframe>
  </div>

  <div class="embed-responsive embed-responsive-16by9" *ngIf="product.pictureUrl.includes('mathcandycrushthumbnail')">
    <!--<div class="col-6" >
      <img src="{{product.pictureUrl}}" alt="{{product.name}}" class="img-fluid w-100"> -->
      <iframe class="embed-responsive-item" _ngcontent-c4="" allowfullscreen="" frameborder="0" height="100%" id="content-frame" mozallowfullscreen="" webkitallowfullscreen="" width="100%" src="https://nazcastorage.blob.core.windows.net/blob/games/games/MathPlusPuzzle/index.html">
      </iframe>
  </div>

  <div class="embed-responsive embed-responsive-16by9" *ngIf="product.pictureUrl.includes('mathsolvethumbnail')">
    <!--<div class="col-6" >
      <img src="{{product.pictureUrl}}" alt="{{product.name}}" class="img-fluid w-100"> -->
      <iframe class="embed-responsive-item" _ngcontent-c4="" allowfullscreen="" frameborder="0" height="100%" id="content-frame" mozallowfullscreen="" webkitallowfullscreen="" width="100%" src="https://nazcastorage.blob.core.windows.net/blob/games/games/MathSolver/game/index.html">
      </iframe>
  </div>

  <div class="embed-responsive embed-responsive-16by9" *ngIf="product.pictureUrl.includes('learningshapesthumbnail')">
    <!--<div class="col-6" >
      <img src="{{product.pictureUrl}}" alt="{{product.name}}" class="img-fluid w-100"> -->
      <iframe class="embed-responsive-item" _ngcontent-c4="" allowfullscreen="" frameborder="0" height="100%" id="content-frame" mozallowfullscreen="" webkitallowfullscreen="" width="100%" src="https://nazcastorage.blob.core.windows.net/blob/games/games/LearningShapes/index.html">
      </iframe>
  </div>

  <!--<div class="col-6">

    <h3>{{product.name}}</h3>
    <p>{{product.price | currency}}</p>
    <div class="d-flex justify-content-start align-items-center">
      <i (click)="decrementQuantity()" class="fa fa-minus-circle text-warning mr-2" style="cursor: pointer; font-size: 2em"></i>
      <span class="font-weight-bold" style="font-size: 1.5em;">{{quantity}}</span>
      <i (click)="incrementQuantity()" class="fa fa-plus-circle text-warning mx-2" style="cursor: pointer; font-size: 2em"></i>
      <button (click)="addItemtoBasket()" class="btn btn-outline-primary btn-lg ml-4">Add to Cart</button>
    </div>

  </div>
  <div class="row mt-5">
    <div class="col-12 ml-3">
      <h4>Description</h4>
      <p>{{product.description}}</p>
    </div>
  </div> -->


</div>

